div {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2em solid transparent;
    border-radius: 50%;
    padding: 0.1em;
    width: 13em;
    height: 13em;

    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;

    .blue {
        width: 11em;
        height: 11em;
        border-top-color: #4E1A3D;

        .green {
            width: 9em;
            height: 9em;
            border-top-color: #CFEED1;

            .yellow {
                width: 7em;
                height: 7em;
                border-top-color: #FF2768;

                .red {
                    width: 5em;
                    height: 5em;
                    border-top-color: #05E0E9;
                }
            }
        }
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);
    }
}